.search-bar{
    width:100%;
    margin-top:5%;
    justify-content: center;
    display: flex;
}

.search-container {
   width:50%;
   position:relative;
   display: flex;
   justify-content: flex-end;
 
} 

input{
    width: 100%;
    background-color: rgba(47, 46, 46, 1);
    border-radius:50px;
    border:none;
    padding:20px;
    color:white;
    font-size: 50;
    box-sizing: border-box;
}
input:focus{
    border:none;
    outline:none;
}

