.movie-card {
    object-fit: cover;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: 1px solid rgb(37, 37, 37);
    height:300px;
    width: 200px;
    position: relative;
    transition: .5s ease;
}
.card-content{
    color:rgba(255, 246, 214, 1);
    font-weight: bold;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.movie-card:hover .card-content{
    opacity: 1;
}
.movie-card:hover img{
    opacity: 0.4;
}


