.single-movie{
    color:white;
    padding:50px 40px;
}
.page-nav{
    display:flex;
   justify-content: baseline;
}

.path, .path-name, .path-link{
    font-size: 15;
    padding-right:3px;
    color:rgba(255, 246, 214, 1)
}
.path-link:hover{
    border-bottom: none;
    cursor: pointer;
    color:rgba(255, 246, 214, 1);

}
.path{
    color:rgb(100, 96, 82)
}
.path-name{
    color:rgb(100, 96, 82)
}
.movie{
    display: flex;
    justify-content: center;
}
.movie-details{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.movie-header{
   
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
a:hover{
   text-decoration: none;
}
.movie-details .movie-title{
    color: rgba(255, 246, 214, 1);
    font-size: 40px;
    font-weight: bold;
}
.movie-details {
    height:70vh;
    min-height: 20vh;
    font-size: 20px;
    font-weight: 100;
    margin-bottom:20px
}
.movie-poster{
    width:50%;
    margin-right:10px;
}
.movie-actors{
    margin-bottom:20px
}
.actor{
    color: rgb(209, 201, 172);
    font-size: 17px;
    font-weight: 100;
}
.img{
  width:auto;
  height:70vh
}

@media screen and (max-width: 700px){
    .img{
        height:50vh;
    }
    .movie-details .movie-plot{
        min-height:30vh
    }
}
.movie-footer{
    margin-top:20px;
  
    display:flex;
    justify-content: space-between;
}
.leading{
    color:rgb(77, 74, 64);
    margin-right:10px
}